.formInput {
    display: flex;
    flex-direction: column;
    width: 40vh;
}

input {
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border-color: #0a2d2e;
}

label {
    font-size: 16px;
    color:#0a2d2e;
}

span {
    font-size: 12px;
    color: red;
    padding: 3px;
    display: none;
}


input:invalid[focused=true] {
    border: 1px solid red;
}

input:invalid[focused=true] ~ span {
    display: block;
}