.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: radial-gradient(circle at 100% 100%,#6a8e8f 4%, rgba(56, 87, 30, 0) 40%),
  radial-gradient(circle at 6.504% 88.037%, #879693 0%, rgba(187, 201, 170, 0) 50%),
  radial-gradient(circle at 6.165% 12.617%, #879693 0%, rgba(135, 152, 106, 0) 83%),
  radial-gradient(circle at 93.687% 11.426%, #6a8e8f 0%, rgba(233, 245, 219, 0) 70%),
  radial-gradient(circle at 48.901% 49.521%, #efd7cf 0%, rgba(255, 255, 255, 0) 100%);
  padding: 50px;
}

form {
  background-color:  #f7ebe7 ;
  opacity: 0.8;
  padding:  20px 70px 40px 70px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 10px #879693;
  border: 2px solid #6a8e8f;
}

h1 {
  text-align: center;
  color: #1c4e4f;
  font-size: 7svh;
  text-shadow: 1px 1px 2px #0a2d2e;
  padding-bottom: 20px;
}

button {
  width: 70%;
  height: 40px;
  padding: 10px;
  margin-left: 12.5%;
  background-color: #0a2d2e;
  color: #efd7cf;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #879693;
}

.response{
  background-color: rgb(240, 53, 53);
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #f7ebe7;
  border-radius: 10px;
  border: 2px solid red;
}

