.navbar {
    background-color: #436e6f;
    width: 200px; 
    height: 100vh; 
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    list-style: none; 
}

.nav-item { 
    padding: 10px;
    cursor: pointer;
    display: flex;
    
}

.nav-item:hover {
    background-color: #555; /* Stil pentru hover */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profile-item
{
    padding: 10px;
    margin-bottom: 10vh;
    text-align: center;
}

.profile-link{
    text-decoration: none;
    color: #efd7cf;
    font-size: 30px;
}

.nav-link{
    text-decoration: none;
    color: #efd7cf;
    font-size: 20px;
}

button .nav-linl{
    color :#6b2c60;
    text-decoration: none;
    color: #efd7cf;
    font-size: 20px;
}
