

.form-quiz-create {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "form-navigation form-content form-content form-content"
    "form-navigation form-content form-content form-content"
    "form-navigation form-content form-content form-content"
    "form-navigation form-content form-content form-content"
    "form-navigation form-content form-content form-content"
    "form-navigation form-content form-content form-content"
    "form-navigation form-content form-content form-content"
    "form-navigation . . form-buttons";
}

.form-navigation { grid-area: form-navigation; }

.form-buttons { grid-area: form-buttons; }

.form-content { grid-area: form-content; }

